version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=dbname
      - DB_LOGIN=admin
      - DB_PASS=drowssap
      - SECRET_KEY_JWT=aAbBcCdDeE123@
      - USER_HOST=app
      - USER_PORT=5000
    depends_on:
      - postgres
      - prometheus
      - grafana
      - jaeger
    networks:
      - golibrary-clients_user-network

  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: dbname
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: drowssap
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - golibrary-clients_user-network

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - golibrary-clients_user-network

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - golibrary-clients_user-network

  jaeger:
    image: jaegertracing/all-in-one:1.43
    ports:
      - "5775:5775"  # UDP
      - "6831:6831"  # UDP
      - "6832:6832"  # UDP
      - "5778:5778"  # HTTP
      - "16686:16686" # UI
      - "14268:14268" # HTTP
      - "14250:14250" # Thrift
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    networks:
      - golibrary-clients_user-network

networks:
  golibrary-clients_user-network:
    external: true

volumes:
  postgres_data:
